<ion-header no-border>
  <ion-toolbar>
    <ion-buttons>
      <ion-button fill="clear" mode="md" (click)="backPage()">
        <ion-icon src="../../../assets/images/General/noun_Arrow_1256499.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title ion-text-center">Create an Account</h1>
  <form>
    <ion-input name="userName" [(ngModel)]="user.name" placeholder="User name" type="text"></ion-input>
    <p class="err" *ngIf="err.name">{{err.name}}</p>

    <ion-input placeholder="Email address" name="email" [(ngModel)]="user.email" type="text"></ion-input>
    <p class="err" *ngIf="err.email">{{err.email}}</p>

    <!-- <ion-input placeholder="Phone number" name="phone" [(ngModel)]="user.phone" type="text"></ion-input>
    <p class="err" *ngIf="err.phone">{{err.phone}}</p> -->

    <ion-datetime class="date_picker" name="dateOfBirth" [(ngModel)]="user.dateOfBirth" placeholder="Date of Birth"
      displayFormat="YYYY-MM-DD"></ion-datetime>
    <p class="err" *ngIf="err.dateOfBirth">{{err.dateOfBirth}}</p>

    <ion-input placeholder="Password" name="password" [(ngModel)]="user.password" type="password"></ion-input>
    <p class="err" *ngIf="err.password">{{err.password}}</p>

    <ion-input placeholder="Confirm password" name="confirm_password" [(ngModel)]="user.password_confirmation"
      type="password"></ion-input>
    <p class="err" *ngIf="err.password_confirmation">{{err.password_confirmation}}</p>

    <ion-button class="btn-SignUp" mode="md" expand="full" shape="round" fill="solid" (click)="register()">
      Sign up
    </ion-button>
  </form>
  <p class="terms-text ion-text-center">By continuing <span class="light-text">Sign up</span> you agree to the following
    <br> <a href="{{importantKeys?.conditionLink}}" class="light-text">Terms &
      Conditions</a>
    without
    reservation.
  </p>
  <p class="ion-text-center account-text">Already have an account? <a (click)="signIn()"> Sign in</a></p>
</ion-content>